/* index.html css styling */

/*Ramen Icon in the middle of the landing page*/
#ramen {
	padding-top: 20vh;
	width: 195px;
	height: 194px;
}

#flavorProf {
	color: #eee;
	font-size: 2rem;
	margin-bottom: 5px;
	padding-left: 2vw;
	padding-right: 2vw;
	text-shadow: 3px 2px 2px #bb1212;
}

#description {
	margin-top: 10px;
	padding-bottom: 30px;
	padding-left: 5vw;
	padding-right: 5vw;
}

/*removes underline of buttons*/
.chat-box a {
	text-decoration: none;
}

/*button to navigate to the questionaire page*/
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #bb1212;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


main{
	padding: 0;
}
#frontpage-container{
	display: grid;
	grid-template-columns: 0.74fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	width:100%;
}

/* chat-box section */
#chat-box-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

	height: 100%;
    max-height: 270px;
	margin-top: 30px;
}
#user-input-button{
	border: 2.5px #DA0B0B solid;
	background-color: #bb121254;
	backdrop-filter: blur(2px);
	border-radius: 25px 25px 0px 25px;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;

	/* transition: 0.3s ease; */
}
#user-input-button:hover{
	background-color: #bb1212ab;
}

/* Intro section */
.intro{
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: left;
	background-color: #00000040;
	backdrop-filter: blur(8px);
	padding: 20px;
}
#intro-content-container{
	max-width: 600px;
	min-height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

	margin-top: 30px;
}
.intro h1{	
	color: #eee;
	font-size: 60px;
	text-shadow: 3px 2px 2px #000;
	line-height: 40px;

}
.intro p{
	color: #eee;
	text-shadow: 3px 2px 2px #000;
	line-height: 25px;
	margin-top: 20px;

	font-size: 1.5rem;
}
#generate-recipe{
	padding-left: 40px;
	padding-right: 40px;
	animation: 3.2s ease 0s infinite normal none running pulse;
}