main{
    display: flex;
    flex-direction: column;
    height:  calc(100vh - 69px - 34px);
    padding: 0 80px 0 80px
}

h2{
    text-align: left;
    height: 20%;
}

#recipes-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#recipes-container{
    height: 80%;
}

.recipes-button{
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

#addnew{
    text-align: center;
}