/* noodlesResults.html css styling */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 25%;
	padding-right: 25%;
}
#instruction-text {
    display: flex;
    flex-direction: column;
}
#instruction-text img {
    max-width: 150px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 12px;
}


#interactive-content{
    height: calc(100vh - 66px - 88.5px);
    height: calc(100svh - 66px - 88.5px);

    overflow-y: scroll;

}
#recipe-content{
    min-height: 800px;
    max-width: 560px;
    margin: 50px auto 50px auto;
    padding: 70px 50px;

    text-align: left;

    background-color: #fff;
    box-shadow: 13px 13px 1px rgba(0, 0, 0, 0.25);
}

#recipe-content > h2{
	font-size: 45px;
}

#recipeText h2{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 33px;
}

/* Responsive Design for small screens */
@media only screen and (max-width: 767px), 
screen and (max-height: 480px){
    #instruction-text-mobile img{
        max-width: 100px;
        background-color: #fff;
        border-radius: 12px;
    }
    #instruction-text-mobile-content{
		display: flex;
		align-items: flex-start;
		gap: 20px;
	}
	#interactive-content {
        height: auto;
        overflow-y: auto;
    }
    #recipe-content{
        margin: 30px auto 140px auto;
        padding: 30px 10px;
		
    }
	#recipeText{
		font-size: 20px;
	}
	#recipeText li{
		font-size: 20px;
	}
}