
#page-content-container{
	display: grid;
	grid-template-columns: 0.74fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	/* width:100%;
    height: 100vh; */
	

	padding: 0;
}

#instructions{
	background-color:#B93737;
	position:relative;
}

#main-content{
	background-color:#DFDAC9;
	position:relative;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.grid-container-4 {
    display: grid;
    grid-gap: 10px; 
    position: relative;
    

}
.grid-item-4 {
    justify-content: center;
    position: relative;
    border: 1px solid #ccc; /* Add border for better visualization */
    background-color: #ffffff;
    border-radius: 10px;
    max-height: 50%;
    max-width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
.grid-item-4:hover{
    background-color: #B93737;
}
.grid-item-4 img {
    width: 100%;
    height: 100%;
    /*object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}